%section#authors
  %h2 
    %span Авторы
  %p
    Джим Вайрих (Jim Weirich)
    %br
    %span.email_address jim [собака] weirichhouse [точка] org
    %br
    %a{:href => 'http://twitter.com/jimweirich', :target => '_blank'} @jimweirich
  %p
    Джо О'Браин (Joe O'Brien)
    %br
    %span.email_address joe [собака] edgecase [точка] com
    %br
    %a{:href => 'http://twitter.com/objo', :target => '_blank'} @objo
  %br.clear

  %h2 
    %span Перевод
  %p
    Антон Зайцев
    %br
    %span.email_address antonzaycev55 [собака] gmail [точка] com
    %br
    %a{:href => 'http://twitter.com/antonzaycev', :target => '_blank'} @antonzaycev