%section#authors
  %h2 Authors
  %p
    Jim Weirich  
    %br
    %span.email_address jim [at] weirichhouse [dot] org
    %br
    %a{:href => 'http://twitter.com/jimweirich', :rel => 'external'} @jimweirich
  %p
    Joe O'Brien
    %br
    %span.email_address joe [at] edgecase [dot] com
    %br
    %a{:href => 'http://twitter.com/objo', :rel => 'external'} @objo
  %br.clear
