%section#cc
  %h2 <span>License</span>
  %p
    Ruby Koans is released under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons, Attribution-NonCommercial-ShareAlike License</a>.
    %a{:href => 'http://twitter.com/jimweirich', :target => '_blank'} @jimweirich
  %br.clear
