-#%div#translate_help Перевод пока не полный. Если вы хотите помочь с переводом, пожалуйста свяжитесь со мной в твиттере <a href="http://twitter.com/antonzaycev" target="_blank">@antonzaycev</a> или skype: <a href="skype:antonzaycev">antonzaycev</a>.
= haml :sidebar, :layout => false

- @blocks.each do |item|
  = haml item[:name].to_sym, :layout => false

-#= haml :introduction, :layout => false
-#
-#= haml :sidebar, :layout => false
-#
-#= haml :structure, :layout => false
-#
-#= haml :installing_ruby_on_nix, :layout => false
-#
-#= haml :what_editors_nix, :layout => false
-#
-#= haml :the_path_nix, :layout => false
-#
-#= haml :authors, :layout => false
-#
-#= haml :cc, :layout => false
-#
-#= haml :inspiration, :layout => false
-#
-#= haml :other_resources, :layout => false