%section#inspiration
  %h2 
    %span Вдохновение
  %p Особая благодарность Майку Кларку (Mike Clark) и Аре Ховард (Ара Ховард) за вдохновение на этот проект. Майк Кларк (Mike Clark) написал превосходную запись в своем блоге об изучении Ruby через Unit тестирование. Сообщение навеяло идею, что хорошо было бы привлекать новых ruby-разработчиков через тестирование. Затем Ара Ховард (Ara Howard) предложила нам идею о создании Коанов в ее Koans in his ruby quiz entry on Meta Koans (a must for any rubyist wanting to improve their skills). Also, "The Little Lisper" taught us all the value of the short questions/simple answers style of learning.
  %p 
    %a{:href => 'http://clarkware.com/cgi/blosxom/2005/03/18', :target => '_blank'}
      Сообщение из блога Майка Кларка (Mike Clark)
      %span clarkware.com/cgi/blosxom/2005/03/18
  %p 
    %a{:href => 'http://rubyquiz.com/quiz67.html', :target => '_blank'}
      Meta Koans
      %span rubyquiz.com/quiz67.html
  %p
    %a{:href => 'http://amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632', :target => '_blank'}
      The Little Lisper
      %span amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632