%section#inspiration
  %h2 
    %span Вдохновение
  %p
    Особая благодарность Майку Кларку (Mike Clark) и Аре Ховард (Ара Ховард) за вдохновение на этот проект.
    Майк Кларк (Mike Clark) написал превосходный пост в своем блоге об изучении Ruby через Unit тестирование.
    Сообщение навеяло идею, что хорошо было бы привлекать новых ruby-разработчиков через тестирование.
    После него Ара Ховард (Ara Howard) "подкинула" нам идею о Коанах в своих ruby тестах на Meta Koans (обязательно для каждого рубиста (ruby-разработчика) постоянно самосовершенствоваться).
    А книга "The Little Lisper" научила нас всей пользе от простых вопросов/простых ответов на них в обучении.
  %p
    %a{:href => 'http://clarkware.com/cgi/blosxom/2005/03/18', :target => '_blank'}
      Пост из блога Майка Кларка (Mike Clark)
      %span clarkware.com/cgi/blosxom/2005/03/18
  %p 
    %a{:href => 'http://rubyquiz.com/quiz67.html', :target => '_blank'}
      Meta Koans
      %span rubyquiz.com/quiz67.html
  %p
    %a{:href => 'http://amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632', :target => '_blank'}
      The Little Lisper
      %span amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632