%section#inspiration
  %h2 Inspiration
  %p A special thanks to Mike Clark and Ara Howard for inspiring this project. Mike Clark wrote an excellent blog post about learning Ruby through unit testing. This sparked an idea that has taken a bit to solidify, that of bringing new rubyists into the community through testing. Ara Howard then gave us the idea for the Koans in his ruby quiz entry on Meta Koans (a must for any rubyist wanting to improve their skills). Also, "The Little Lisper" taught us all the value of the short questions/simple answers style of learning.
  %p 
    %a{:href => 'http://clarkware.com/cgi/blosxom/2005/03/18', :rel => 'external'}
      Mike Clark's post
      %span clarkware.com/cgi/blosxom/2005/03/18
  %p 
    %a{:href => 'http://rubyquiz.com/quiz67.html', :rel => 'external'}
      Meta Koans
      %span rubyquiz.com/quiz67.html
  %p
    %a{:href => 'http://amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632', :rel => 'external'}
      The Little Lisper
      %span amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632
