%section#installing_ruby
  %h2 
    %span Установка Ruby
  %p.instructions_message
    Эта инструкция предназначена для *nix платформ. У нас так же есть
    %a{:href => '/windows#installing_ruby'} инструкция для Windows
    \.
  %p 
    Для того чтобы запустить коаны нужен установленный Ruby. Если у вас еще не установлен Ruby, посетите 
    %a{:href => 'http://ruby-lang.org/en/downloads', :target => '_blank'} http://ruby-lang.org/en/downloads 
    для получения инструкций по его установке.
  %p Для того что бы проверить установлен ли у Вас Ruby, в своем терминале выполните простую команду:
  %div.terminal
    %p $ ruby --version
  %p Любого ответа с версией Ruby выше 1.8 будет достаточно.