%section#installing_ruby
  %h2
    %span Установка Ruby
  %p.instructions_message
    Эта инструкция предназначена для Windows. У нас так же есть
    %a{:href => '/#installing_ruby'} установка для *nix
    \.
  %p
    Для того чтобы запустить коаны Вам нужен установленный Ruby.
    Пожалуйста, найдите время, чтобы скачать и установить версию Ruby, которая больше всего вам подойдет.
    Коаны используют только стандартные функции языка Ruby, поэтому их работоспособность не зависит от Ruby интерпретатора.
    Если вы не уверены какую версию Ruby вам нужно установить, то просто установите MRI (Matz Ruby Interpreter), ветка 1.8 вероятнее всего подойдет лучше всего для начала.

  %p
    Если Вы хотите попробовать запустить Коаны (или любые другие Ruby приложения) в различных версиях Ruby, тогда возможно вы захотите скачать "Pik" - пакетный менеджер Ruby для windows (
    %a{ :href => 'http://github.com/vertiginous/pik', :target => '_blank' } http://github.com/vertiginous/pik
    ), который основан на "RVM" - приложении для *nix платформ (
    %a{ :href => 'http://rvm.beginrescueend.com', :target => '_blank' } http://rvm.beginrescueend.com
    ).

  %p
    Перейдите по ссылку и скачайте любой установщик ветки 1.8:
    %a{ :href => 'http://rubyforge.org/frs/?group_id=167&release_id=42563', :target => '_blank' } http://rubyforge.org/frs/?group_id=167&amp;release_id=42563

  %p
    Скачайте установщик и запустите его.
    Установщик распакует и поместит все необходимые библиотеки и исполняемые файлы в папку на локальной машине.
    Если так случилось, что вы забыли отметить галочкой пункт, который бы автоматически дополнил переменную окружения (в этой переменной командная строка использует пути до вызываемых программ когда вы набираете команды), то вы можете сделать это самостоятельно:

  %ol
    %li Найдите, где Вы установили Ruby (к примеру C:\Ruby)
    %li Кликните правой кнопкой мыши по икноке "Мой компьютер" и выберите пункт "Свойства"
    %li На вкладке "Дополнительно" нажмите на кнопку "Переменные окружения"
    %li Добавьте туда "Путь-до-Ruby\bin;"(к примеру "C:\Ruby\bin;") в начало строки (или в конец, или куда угодно, после любого имеющегося символа ';')

  %p
    Теперь откройте командную строку и выполните "ruby -v", если вы получили ответ и никаких ошибок, у вас все получилось!
    Теперь когда у вас есть установленный ruby, Вам нужно скачать сами коаны (справа большая красная кнопка).

  %ol
    %li Распакуйте их в папку C:\oss\ruby_koans
    %li Откройте командную строку (Пуск &gt; выполнить &gt; напишите "cmd" и нажмите "Enter")
    %li Выполните (путь из шага #1) "cd C:\oss\ruby_koans"
    %li Выполните "rake"
