#installing_ruby.koans_section
  %h2 <span>Installing Ruby</span>
  %p.instructions_message
    These instructions are for *nix platforms. We also have 
    %a{:href => '/windows#installing_ruby'} Windows instructions
    \.
  %p 
    In order to run the koans you need Ruby installed. If you do not already have Ruby setup, please visit 
    %a{:href => 'http://ruby-lang.org/en/downloads', :rel => 'external'} http://ruby-lang.org/en/downloads 
    for operating system specific instructions.
  %p To verify your installation, in your terminal window simply type:
  %div.terminal
    %p $ ruby --version
  %p Any response for Ruby with a version number greater than 1.8 is fine.
