%section#introduction
  %h1
    Изучение Ruby
    %span С помощью Ruby коанов от Edgecase
  %p Коаны проведут вас по пути просвящения, для изучения Ruby. Цель - изучить язык Ruby, его синтакс, структуру и некоторые вспомогательные функции и библиотеки. Мы так же научим вас культуре. Тестирование не просто на словах, это то что используется в жизни. Очень важно в процессе выполнения коанов изучать и делать отличные вещи в языке.