%section#introduction
  %h1
    Изучение Ruby
    %span
      С помощью Ruby Коанов от Edgecase
  %p
    Коаны проведут вас по пути просвящения, для изучения Ruby.
    Цель - изучить язык Ruby, его синтаксис, структуру и некоторые общие функции и библиотеки.
    Мы так же научим вас культуре работы с Ruby.
    Тестирование для нас не просто слова, а то, что мы используем каждый ден.
    Очень важно в процессе выполнения коанов изучать и познавать высоты языка.