!!! 5
%html
  %head
    %title Learning Ruby with the EdgeCase Ruby Koans
    %meta{ :name => 'description',   :content => '' }
    %meta{ :name => 'keywords',      :content => '' }
    %link{ :rel  => 'shortcut icon', :href    =>'/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel  => 'stylesheet',    :media   => 'screen',      :type => 'text/css', :href => '/stylesheets/reset.css' }
    %link{ :rel  => 'stylesheet',    :media   => 'screen',      :type => 'text/css', :href => '/stylesheets/screen.css' }
    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascript/application.js' }
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/hlm4htc.js' }
    %script{ :type => 'text/javascript' } try{Typekit.load();}catch(e){}
  %body  
    = haml :sidebar, :layout => false
    #main_content
      = yield
