!!! 5
%html
  %head
    %title Изучение Ruby с помощью Ruby Коанов от EdgeCase
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta{ :name => 'description', :content => 'Изучение Ruby с помощью Ruby Коанов от EdgeCase' }
    %meta{ :name => 'keywords',    :content => 'ruby, изучение ruby, rubykoans, руби коаны ' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }
    %meta{ :name => 'apple-mobile-web-app-status-bar-style', :content => 'black' }
    %link{ :rel  => 'apple-touch-icon', :href => '/apple_favicon.png' }
    %link{ :rel  => 'shortcut icon',    :href => '/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel  => 'stylesheet', :media => 'screen', :type => 'text/css', :href => '/stylesheets/reset.css' }
    %link{ :rel  => 'stylesheet', :media => 'screen', :type => 'text/css', :href => '/stylesheets/screen.css' }
    %link{ :rel  => 'stylesheet', :media => 'only screen and (max-width: 480px), only screen and (max-device-width: 480px)', :type => 'text/css', :href => '/stylesheets/mobile.css' }
    %link{ :rel  => 'stylesheet', :media => '(min-device-width: 768px) and (max-device-width: 1024px)', :type => 'text/css', :href => '/stylesheets/ipad.css' }

    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascript/application.js' }
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/bsl0mwg.js' }
    %script{ :type => 'text/javascript' } try{Typekit.load();}catch(e){}

    <!--[if lt IE 9]>
    %script{ :type => 'text/javascript', :src => 'http://html5shim.googlecode.com/svn/trunk/html5.js' }
    <![endif]-->

  %body
    #top_line
    #main_content
      = yield
      %p#mountains{:title => "Mountains are merely mountains"} Горы - это всего лишь горы

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22414898-1']);
      _gaq.push(['_setDomainName', '.rubykoans.ru']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();