!!! 5
%html
  %head
    %title Learning Ruby with the EdgeCase Ruby Koans
    %meta{ :name => 'description',   :content => 'Learning Ruby with the EdgeCase Ruby Koans' }
    %meta{ :name => 'keywords',      :content => 'ruby' }
    %link{ :rel  => 'shortcut icon', :href    =>'/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel  => 'stylesheet',    :media   => 'screen',      :type => 'text/css', :href => '/stylesheets/reset.css' }
    %link{ :rel  => 'stylesheet',    :media   => 'screen',      :type => 'text/css', :href => '/stylesheets/screen.css' }
    %link{ :rel  => 'stylesheet',    :media   => 'only screen and (max-width: 480px), only screen and (max-device-width: 480px)', :type => 'text/css', :href => '/stylesheets/mobile.css' }
    %link{ :rel  => 'stylesheet',    :media   => '(min-device-width: 768px) and (max-device-width: 1024px)', :type => 'text/css', :href => '/stylesheets/ipad.css' }

    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascript/application.js' }
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/bsl0mwg.js' }
    %script{ :type => 'text/javascript' } try{Typekit.load();}catch(e){}

  %body
    #top_line
    #main_content
      = yield

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18201694-1']);
        _gaq.push(['_setDomainName', '.rubykoans.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
