#other_resources.koans_section
  %h2 <span>Other Resources</span>
  %p
    %a{:href => 'http://pivotaltracker.com/projects/48111', :target => '_blank'}
      EdgeCase Ruby Koans Issue Tracker
      %span pivotaltracker.com/projects/48111
  %p
    %a{:href => 'http://github.com/edgecase/ruby_koans', :target => '_blank'}
      EdgeCase Ruby Koans on Github
      %span github.com/edgecase/ruby_koans
  %p
    %a{:href => 'http://ruby-lang.org', :target => '_blank'}
      The Ruby Language
      %span ruby-lang.org
  %p 
    %a{:href => 'http://tryruby.org', :target => '_blank'}
      Try Ruby in your browser
      %span tryruby.org
  %p 
    %a{:href => 'http://pragprog.com/titles/ruby/programming-ruby', :target => '_blank'}
      Dave Thomas' introduction to Ruby Programming
      %span pragprog.com/titles/ruby/programming-ruby
  %p
    %a{:href => 'http://pragprog.com/titles/bmsft/everyday-scripting-with-ruby', :target => '_blank'}
      Brian Marick's fantastic guide for beginners: Everyday Scripting with Ruby	
      %span pragprog.com/titles/bmsft/everyday-scripting-with-ruby
