%section#other_resources
  %h2
    %span Дополнительные ресурсы
  %p
    %a{:href => 'http://pivotaltracker.com/projects/48111', :target => '_blank'}
      EdgeCase Ruby Koans Issue Tracker
      %br
      %span pivotaltracker.com/projects/48111
  %p
    %a{:href => 'http://github.com/edgecase/ruby_koans', :target => '_blank'}
      Репозиторий Ruby Koans от EdgeCase на Github
      %br
      %span github.com/edgecase/ruby_koans
  %p
    %a{:href => 'http://ruby-lang.org', :target => '_blank'}
      Язык Ruby
      %br
      %span ruby-lang.org
  %p 
    %a{:href => 'http://tryruby.org', :target => '_blank'}
      Попробуй Ruby в своем браузере
      %br
      %span tryruby.org
  %p 
    %a{:href => 'http://pragprog.com/titles/ruby/programming-ruby', :target => '_blank'}
      Введение в разработку на Ruby от Дейва Томаса (Dave Thomas)
      %br
      %span pragprog.com/titles/ruby/programming-ruby
  %p
    %a{:href => 'http://pragprog.com/titles/bmsft/everyday-scripting-with-ruby', :target => '_blank'}
      Отличное руководство для начинающих от Брайана Марика (Brian Marick): Everyday написание сценариев на Ruby
      %br
      %span pragprog.com/titles/bmsft/everyday-scripting-with-ruby