#sidebar
  %a#download_button{:href => 'https://github.com/downloads/edgecase/ruby_koans/rubykoans-2010-12-23.zip'} скачать

  %nav{:class => @page}
    %a.tab{ :class => ('active' if @page == 'nix' ),    :href => '/' } *nix
    %a.tab{ :class => ('active' if @page == 'windows'), :href => '/windows' } windows
    %ol
      - @blocks.each do |item|
        %li
          %a{:href => "##{item[:id] || item[:name]}"}
            = item[:title]

  %a{:href=>'http://edgecase.com', :target=>'_blank', :id=>'edgecase_logo'} Предоставлено EdgeCase