%section#sidebar
  %a#download_button{ :href => 'http://github.com/downloads/edgecase/ruby_koans/rubykoans-2010-09-10.zip' }download the koans

  %nav

    %a.tab{ :class => ('active' if @page == 'nix' ),    :href => '/' } *nix
    %a.tab{ :class => ('active' if @page == 'windows'), :href => '/windows' } windows

    %ol
      %li
        %a{ :href => '#introduction' }introduction
      %li
        %a{ :href => '#the_structure' }the structure
      %li
        %a{ :href => '#installing_ruby' }installing ruby
      %li
        %a{ :href => '#what_editors' }what editors can i use?
      %li
        %a{ :href => '#the_path' }the path to enlightenment
      %li
        %a{ :href => '#authors' }authors
      %li
        %a{ :href => '#inspiration' }inspiration
      %li
        %a{ :href => '#other_resources' }other resources

  %a{ :href => 'http://edgecase.com', :rel => 'external', :id => 'edgecase_logo' }
    %img{ :src => '/images/edgecase_logo_bw.gif', :alt => 'EdgeCase', :id => 'edgecase_bw' }
