%section#structure
  %h2
    %span Структура
  %img{ :src => '/images/files.gif', :alt => 'файлы Ruby коанов' }
  %p
    Мы тематически сгруппировали Коаны по файлам, тема хешей раскрыта в файле about_hashes.rb, модули описаны в about_modules.rb, и т.д.
    Она расположены по порядку в файле the path_to_enlightenment.rb.
  %p
    Каждый Коан развивает понимание Ruby и способствует вашему общему развитию.
    Каждый раз вам нужно будет исправлять ошибки.
  %p
    В некоторых коанах будет достаточно исправить неверный ответ на правильный.
    В других потребуется предложить свой собственный ответ.
    Метод __ (двойное нижнее подчеркивание) - это подсказка для вас, вместо него нужно подставить верный ответ.