%section#structure
  %h2
    %span Структура
  %img{ :src => '/images/files.gif', :alt => 'файлы Ruby коанов' }
  %p The koans are broken out into areas by file, hashes are covered in about_hashes.rb, modules are introduced in about_modules.rb, etc. They are presented in order in the path_to_enlightenment.rb file.
  %p Каждый коан увеличивает ваши знания Ruby  и builds upon itself. С самого начала вам нужно будет исправить ошибку.
  %p В некоторых коанах достаточно просто подправить для верного ответа. Some, however, require you to supply your own answer. If you see the method __ (a double underscore) listed, it is a hint to you to supply your own code in order to make it work correctly.