%section#the_path
  %h2
    %span Путь к просвещению
  %p.instructions_message
    Это руководство предназначено для *nix платформ. Вы так же можете взглянуть на
    %a{:href => '/windows#the_path'} руководство для Windows
    \.
  %p
    Запустить тесты можно вызовом файла
    %strong path_to_enlightenment.rb
    \.
  %p В своем терминале, находясь в папке ruby_koans, введите:
  %div.terminal 
    %p [ ruby_koans ] $ ruby path_to_enlightenment.rb

  #red_green_refactor
    %h3 Красный, Зеленый, Рефакторинг
    %p
      В мантре разработки через тестирование (test-driven development, TDD) есть три различных этапа:
      Красный - напиши неработающий тест и запусти его, Зеленый - сделай так, чтобы этот тест работал и Рефакторинг - взгляни на код и попробуй сделать его лучше, на сколько это возможно.
    %p Во время прохождения Коанов сначала Вы запускаете текст и видите как он не проходит (красный), Вы исправляете код для прохождения теста (зеленый), после вы размышляете над кодом пройденного теста и смотрите, изучаете и думаете как улучшить код, оптимизировать для большей простоты и читаемости (рефакторинг).
    %p При первом запуске вы увидите следующее:
    %div.terminal
      %p 
        [ ruby_koans ] $ ruby path_to_enlightenment.rb
        %br
        (in /Users/person/dev/ruby_koans)
        %br
        cd koans
      %p 
        Thinking AboutAsserts
        %br
        test_assert_truth has damaged your karma.
      %p 
        You have not yet reached enlightenment ...
        %br
        &lt;false&gt; is not true.
      %p 
        Please meditate on the following code:
        %br
        \./about_asserts.rb:10:in `test_assert_truth'
        %br
        path_to_enlightenment.rb:27
      %p 
        mountains are merely mountains
    %p Вы добрались до первой ошибки. Обратите внимание на то, где находится эта ошибка:
    %div.terminal 
      %p 
        Please meditate on the following code:
        %br
        \./about_asserts.rb:10:in `test_assert_truth'
        %br
        path_to_enlightenment.rb:27
    %p После этого открывайте файл about_asserts.rb в вашем текстовом редакторе и обратите внимание на строку за номером 10:
    %div.editor
      %p 
        \# We shall contemplate truth by testing reality, via asserts.
        %br
        def test_assert_truth
        %br
        &nbsp;&nbsp;assert false  # This should be true
        %br
        end
    %p После вы просто меняете false на true и запускаете тест снова. Вы должны увидеть следующую ошибку.
    %p Но до того как двигаться дальше, подумайте чему вы научились "решая" тест.
    %p
      В этом моменте, не обращайте внимание ни на что кроме имени метода (test_assert_truth) и кода внутри метода (все до закрывающей метод конструкции "end").
      Целью является увидеть, что если передать значение в метод "assert", оно либо будет принято (true) и вы продолжите свой путь, либо не примет если переданное значение будет имеет ложное утверждение (false).
