%section#what_editors
  %h2
    %span Редакторы
  %p.instructions_message
    Эта рекомендация написана для *nix платформ. Вы так же можете взглянуть на
    %a{:href => '/windows#what_editors'} рекомендацию для Windows
    \.
  %p
    Вы можете использовать любой удобный вам редактор, но мы бы рекомендовали вам пользоваться одним из этого списка:

  %ul
    - @editors.sort_by{rand}.each do |editor|
      %li
        = "<a href='#{editor[:url]}' rel='external'>#{editor[:name]}</a>"