#what_editors.koans_section
  %h2 <span>What Editors Can I Use?</span>
  %p.instructions_message
    These instructions are for *nix platforms. We also have 
    %a{:href => '/windows#what_editors'} Windows instructions
    \.
  %p You can really use any editor you'd like, but here are some suggestions:

  %ul
    - @editors.sort_by{rand}.each do |editor|
      %li
        = "<a href='#{editor[:url]}' rel='external'>#{editor[:name]}</a>"
