%section#what_editors
  %h2 
    %span Какие редакторы я могу использовать?
  %p.instructions_message
    Эта инструкция для пользователей Windows. Вы так же можете посмотреть
    %a{:href => '/#what_editors'} инструкцию для пользователей *nix
    \.
  %p На самом деле Вы вольны использовать любой редактор который Вам предпочтительнее, но есть несколько предложений:

  %ul
    - @editors.sort_by{rand}.each do |editor|
      %li
        = "<a href='#{editor[:url]}' rel='external'>#{editor[:name]}</a>"