%section#what_editors
  %h2 What Editors Can I Use?
  %p.instructions_message
    These instructions are for Windows. We also have 
    %a{:href => '/'} *nix instructions
    \.
  %p You can really use any editor you'd like, but here are some suggestions:
  %ul
    %li
      %a{:href => 'http://www.e-texteditor.com/', :rel => 'external'} E Text Editor
    %li 
      %a{:href => 'http://www.jetbrains.com/ruby', :rel => 'external'} RubyMine
    %li
      %a{:href => 'http://www.jedit.org', :rel => 'external'} jEdit
