%section#what_editors
  %h2 
    %span Редакторы
  %p.instructions_message
    Эта рекомендация написана для Windows платформ. Вы так же можете взглянуть на
    %a{:href => '/#what_editors'} рекомендацию для *nix
    \.
  %p На самом деле Вы вольны использовать любой редактор который Вам предпочтительнее, но есть несколько предложений:

  %ul
    - @editors.sort_by{rand}.each do |editor|
      %li
        = "<a href='#{editor[:url]}' rel='external'>#{editor[:name]}</a>"