%section#what_editors
  %h2
    %span Редакторы
  %p.instructions_message
    Это руководство предназначено для *nix платформ. Вы так же можете взглянуть на
    %a{:href => '/windows#what_editors'} руководство для Windows
    \.
  %p На самом деле Вы вольны использовать любой редактор который Вам предпочтительнее, но есть несколько предложений:

  %ul
    - @editors.sort_by{rand}.each do |editor|
      %li
        = "<a href='#{editor[:url]}' rel='external'>#{editor[:name]}</a>"