body { -webkit-text-stroke:0 black; }

#top_line { display: none; }

h2 { font-size: 38pt; }


/*-- Sidebar
----------------------------------------------------------*/

#main_content #sidebar {
  position : relative;
  left     : auto;
  top      : auto;
  width    : auto;
}

#sidebar nav {
  width       : auto;
  line-height : 30pt;
  font-size   : 14pt;
}

#sidebar nav li { font-size: 16pt; }

#sidebar nav a { font-size: 18pt; }

#sidebar nav a.tab {
  width       : 20%;
  height      : 40pt;
  font-size   : 21pt;
  line-height : 40pt;
}



/*-- Main Content
----------------------------------------------------------*/

#main_content {
  width   : 100%;
  margin  : 0;
  padding : 0;
}

#main_content section { margin: 0 5%; }

#main_content #introduction {
  width: auto;
  margin-bottom: 0;
  padding: 10px 0 20px 0;
  background-position: 100% 30%;
}

#main_content #introduction h1 { font-size: 52pt; }

#main_content #introduction h1 span { font-size: 20pt; }

#main_content #introduction p {
  width       : 100%;
  font-size   : 24pt;
  line-height : 35pt;
}
