body {
  font-family : 'sorts-mill-goudy-1','sorts-mill-goudy-2', serif;
  background  : #fff;
}

#top_line {
  position   : fixed;
  top        : 0;
  right      : 0;
  left       : 0;
  height     : 4px;
  background : #e70800;
}

h1, h2, h3 { color: #e70800; }
h1 { font-size: 58px; }
h2 { font-size: 28px; background: url(/images/header_line.gif) repeat-x 0 50%; }
h2 span { background: #fff; padding-right: 12px; }
h3 { font-size: 20px; margin-top: 40px; }

.clear { clear: both; height: 0; }



/*-- Sidebar
----------------------------------------------------------*/

#sidebar {
  position : absolute;
  left     : 800px;
  top      : 30px;
  width    : 250px;
  margin-bottom: 35px;
  padding-top: 50px;
}

#edgecase_logo {
  position   : relative;
  display    : block;
  width      : 65px;
  margin-top : 30px; 
  text-align : center;
}

#edgecase_logo img {
  position : absolute;
  top      : 0;
  left     : 25px;
}


#main_content #download_button {
  display : block;
  height  : 40px;
  margin  : 0 auto 30px auto;
  padding : 0px;
  color   : #fff;
  font-size       : 14px;
  letter-spacing  : 1px;
  line-height     : 42px;
  text-align      : center;
  text-decoration : none;
  text-transform  : uppercase;
  background-color: #d00;
  background-image: -moz-linear-gradient(top, #FB746F, #d00); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dd0000),color-stop(1, #FB746F));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd0000', endColorstr='#FB746F'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd0000', endColorstr='#FB746F')"; /* IE8 */
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#main_content #download_button:active {
  background-image: -moz-linear-gradient(top, #d00, #E15C56); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E15C56),color-stop(1, #dd0000));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E15C56', endColorstr='#dd0000'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E15C56', endColorstr='#dd0000')"; /* IE8 */
}

#sidebar #nav {
  width  : 250px;
  margin : 0 auto;
  font-size      : 12px;
  line-height    : 26px;
  text-transform : uppercase;
}

#sidebar #nav ol {
  clear: left;
  list-style-position: outside;
  padding: 7px 12px 5px 20px;
  background-color: #ebebeb;
  -moz-border-radius-bottomleft      : 5px;
  -moz-border-radius-bottomright     : 5px;
  -webkit-border-bottom-left-radius  : 5px;
  -webkit-border-bottom-right-radius : 5px;
}

#main_content #sidebar #nav li {
  margin: 0 0 0 10px;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

#main_content #sidebar #nav li:last-child { border-bottom: 0; }

#sidebar #nav a {
  display: block;
  color: black;
  font-size: 11px;
  text-decoration: none;
}

#sidebar #nav a.tab {
  float: left;
  width: 115px;
  height: 28px;
  padding-left: 10px;
  color: #e70800;
  font-size: 13px;
  line-height: 32px;
  background-color: #f5f5f5;
  -moz-border-radius-topleft      : 5px;
  -moz-border-radius-topright     : 5px;
  -webkit-border-top-left-radius  : 5px;
  -webkit-border-top-right-radius : 5px;
}

#sidebar #nav a.tab.active { background-color: #ebebeb; }



/*-- Main Content
----------------------------------------------------------*/

#main_content {
  width   : 600px;
  margin  : 0;
  padding : 36px 60px 60px 60px;
}

#main_content .koans_section {
  clear: both;
  display: block;
  margin-bottom: 35px;
  padding-top: 50px;
}

#main_content .koanaons_sections_section div { margin: 20px 0; }

#main_content a { color: #e70800; }

#main_content ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 20px;
}

#main_content ul li,
#main_content ol li { margin-bottom: 0.5em; }

#main_content p {
  margin      : 20px 0;
  font-size   : 18px;
  line-height : 25px;
}

#main_content p.instructions_message {
  margin-top  : 0;
  margin-left : 0;
  color       : #666;
  font-size   : 14px;
  font-style  : italic;
  line-height : 24px;
}

#main_content p.instructions_message a { color: #f54d47; }

.terminal, .editor {
  padding: 5px 10px;
  background-color: black;
  background-image: -moz-linear-gradient(top, #000, #444); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #444),color-stop(1, #000)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#444'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#444')"; /* IE8 */
}

#main_content .terminal p, #main_content .editor p {
  margin      : 10px 0;
  color       : #fff;
  font-family : monaco, monospace;
  font-size   : 14px;
}



/*-- Introduction Section
----------------------------------------------------------*/

#main_content #introduction {
  width          : 690px;
  margin-bottom  : 20px;
  padding-top    : 0;
  padding-bottom : 106px;
  background     : url(/images/enso.gif) no-repeat 91% 0;
}

#main_content #introduction h1 {
  margin-bottom : 45px;
  padding-top   : 24px;
}

#main_content #introduction h1 span {
  display   : block;
  margin    : 10px 0 0 0;
  color     : #444;
  font-size : 16px;
  letter-spacing : 3px;
  text-transform : uppercase;
}

#main_content #introduction p {
  width       : 600px;
  color       : #555;
  font-size   : 21px;
  line-height : 35px;
  text-align  : justify;
}



/*-- Structure Section
----------------------------------------------------------*/

#main_content #the_structure img {
  float  : left;
  margin : 20px 30px 30px 0;
}



/*-- Authors Section
----------------------------------------------------------*/

#main_content #authors p {
  float: left;
  width: 275px;
}



/*-- Other Resources Section
----------------------------------------------------------*/

#main_content #other_resources { margin-bottom: 0; }



/*-- Inspiration & Other Resources Section
----------------------------------------------------------*/

#main_content #inspiration p a,
#main_content #other_resources p a { line-height: 16px; text-decoration: none; }

#main_content #other_resources a span,
#main_content #inspiration a span {
  display    : block;
  color      : #555;
  font-style : italic;
  text-decoration: none;
}
