body {
  border-top: 4px solid #e70800;
  font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",serif;
  -webkit-text-stroke:1px transparent; }

@media only screen and (max-device-width:480px) {body{-webkit-text-stroke:0 black;}}

h1 {
  font-size: 48px;
  color: #e70800;
}

h3 {
  font-size: 24pt;
  color: #e70800;
}

h4 {
  font-size: 20pt;
  color: #e70800;
  margin-top: 40px;
}

.small_caps {
  text-transform: uppercase;
}

#side_bar {
  width: 250px;
  position: fixed;
  left: 800px;
  top: 60px;
  border: 0px solid black;
  background-color: none;
  margin: 0;
}

#download_button {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: none;
  padding: 0px;
  margin-bottom: 30px;
  width: 250px;
  height: 40px;
  line-height: 44px;
  background-image: -moz-linear-gradient(top, #fb9d9d, #e70800); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e70800),color-stop(1, #fb9d9d)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e70800', endColorstr='#fb9d9d'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e70800', endColorstr='#fb9d9d')"; /* IE8 */
     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
          border-radius: 5px; /* Opera 10.5, IE 9 */
}

#download_button:active{
  background-image: -moz-linear-gradient(top, #e70800, #fb9d9d); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fb9d9d),color-stop(1, #e70800)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9d9d', endColorstr='#e70800'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9d9d', endColorstr='#e70800')"; /* IE8 */
}


#navigation {
  font-size: 12px;
  line-height: 26px;
}

#navigation ol {
  list-style-position: outside;
  padding-left: 20px;
  background-color: #ebebeb;
  clear: left;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

#navigation li {
  margin-left: 10px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 14px;
}

#navigation li:last-child {
  border-bottom: 0;
}

#navigation a {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

#navigation a.tab {
  float: left;
  display: block;
  width: 115px;
  height: 24px;
  padding-left: 10px;
  color: #e70800;
  font-size: 14px;
  line-height: 28px;
  background-color: #f5f5f5;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#navigation a.tab.active {
  background-color: #ebebeb;
}

#main_content {
  width: 600px;
  padding: 60px;
  margin: 0;
}

#main_content a {
  color: #e70800;}

#main_content p {
  margin: 20px 0 20px 20px;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;

}

#main_content p.small_caps {
  font-size: 14px;
  line-height: 24px;
}

#main_content h2.small_caps {
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-left: 10px;
}

#introduction p {
  color: #3b3b3b;
  width: 600px;
  margin: 30px;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 150px;
  text-align: justify;
}

#the_structure, #installing_ruby, #what_editors, #the_path, #authors, #inspiration, #other_resources {
  padding-top 60px;
  margin-bottom: 150px;
}

#the_structure div, #installing_ruby div, #what_editors div, #the_path div, #authors div, #inspiration div, #other_resources div {
  margin: 20px 0 20px 20px;
}

.terminal, .editor {
  background-color: black;
  padding: 1px;
  background-image: -moz-linear-gradient(top, #000, #444); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000),color-stop(1, #444)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#444'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#444')"; /* IE8 */
  
}

#main_content .terminal p, #main_content .editor p {
  font-family: monaco, monospace;
  font-size: 14px;
  color: white;
}

#main_content ul {
  margin-left: 20px;
  list-style-type: circle;
  list-style-position: inside;
}

#authors p {
  float: left;
  width: 275px;
}

.clear {
  clear: both;
  height: 0;
}
